@{
    ViewData["Title"] = "Área do cliente";
}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a asp-controller="Login" asp-action="LoginUsuario">Logout</a>
    </li>
</ul>

<br />
<hr />
<h3>Esta é página do Usuário</h3>
<p>
    <div>
        Login efetuado com sucesso!
    </div>
</p>

