USE [master]
GO
/****** Object:  Database [CADASTRO]    Script Date: 10/03/2022 18:20:27 ******/
CREATE DATABASE [CADASTRO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CADASTRO.MDF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CADASTRO.MDF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CADASTRO.MDF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CADASTRO.MDF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CADASTRO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CADASTRO]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 10/03/2022 18:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Senha] [nvarchar](100) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Telefone] [nvarchar](15) NOT NULL,
	[Endereco] [nvarchar](100) NOT NULL,
	[Cpf] [nvarchar](14) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 10/03/2022 18:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuario]
    (  
        @Senha VARCHAR(100) ,  
        @Nome VARCHAR(100) ,  
        @Email VARCHAR(100),
		@Telefone VARCHAR(15),
		@Endereco VARCHAR(100),
		@Cpf VARCHAR(14)
    )  
    AS  
    BEGIN        
        DECLARE @resultado VARCHAR(10) ='Falhou'      
        IF NOT EXISTS(SELECT 1 FROM dbo.Usuarios where Cpf=@Cpf)  
        BEGIN     
            INSERT INTO dbo.Usuarios  
            VALUES   
            (   
                @Senha,@Nome,@Email,@Telefone,@Endereco,@Cpf
            )               
            SET @resultado= 'Sucesso'  
        END   
            SELECT @resultado AS Resultado  
    END  
GO
/****** Object:  StoredProcedure [dbo].[ValidarLogin]    Script Date: 10/03/2022 18:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidarLogin]  
    (  
        @Cpf NVARCHAR(14) ,  
        @Senha NVARCHAR(100)  
    )  
    AS  
    BEGIN        
        DECLARE @autenticacao VARCHAR(10)='Falhou'        
        IF EXISTS(SELECT 1 FROM dbo.Usuarios WHERE Cpf=@Cpf AND Senha =@Senha)  
        BEGIN  
            SET @autenticacao='Sucesso'  
        END  
        SELECT @autenticacao AS EstaAutenticado        
    END
GO
USE [master]
GO
