@{
    ViewData["Title"] = "Home Page";
}

<div class="slick-track" style="opacity: 1; width: 90000px; transform: translate3d(0px, 0px, 0px);" role="listbox">
    <div class="item slick-slide slick-current slick-active" style="" tabindex="-1" role="option" aria-describedby="slick-slide00" data-slick-index="0" aria-hidden="false">
        <a href="https://www.tesourodireto.com.br/titulos/precos-e-taxas.htm" target="_blank" data-wa="investimentos;todos investimentos;tesouro direto" tabindex="0">
            <h3>Tesouro Direto</h3>
        </a>
    </div>
</div>

