@model Usuario

<h2>Acesse sua conta</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (TempData["LoginUsuarioFalhou"] != null)
        {
            <p class="alert alert-danger">@TempData["LoginUsuarioFalhou"]</p>
        }

        <form asp-action="LoginUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Cpf" class="form-control" placeholder="Digite seu CPF"/>
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default btn-success" />
                <a asp-action="RegistrarUsuario" class="btn btn-info">Abra a sua conta</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

